// Colors
$color-primary-red: #ea5353;
$color-primary-cyan: #45d3d3;
$color-primary-orange: #fcaf4a;
$color-primary-blue: #549ef2;
$color-blue-dark: #4c4e61;
$color-grayish-blue: #a3a5ae;
$color-gray-light: #fafafa;

// Media
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 920px) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: $color-blue-dark;
  background-color: #f2f2f2;
}

.container {
  max-width: 144rem;
  background-color: #fafafa;
  margin: 0 auto;
  padding-block: 8rem;

  @include respond(phone) {
    max-width: 37.5rem;
    padding-block: 8.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
